# Virtual environment
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo

# IDE files
.idea/
.vscode/

# OS files
.DS_Store

# Logs & databases
*.log
*.sqlite3
*.db

# Temp files
*.bak
*.tmp
*.swp
*.swo
*.swn

# Data files
data/

.streamlit/